torch
numpy~=1.26.4
Pillow~=10.4.0
diffusers>=0.12.0,<0.25.0
librosa~=0.10.2.post1
datasets>=2.9.0
gradio
streamlit
tensorboard
accelerate
torchvision
transformers
requests==2.31.0
pandas~=2.2.1
tqdm~=4.66.5
fadtk